<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch.png') }}" />
        <title>Magic Spell</title>
    </head>

    <body>
        <div class="main">
            <center><h1>
                <strong><u>Magic🪄Spell</u></strong> 
            </h1>
            <h3>Program to improve Kids Spelling
            </h3>
            </center>
            <div class="magicspell-controls-box">
                <div class="magicspell-controls">
                    <form class="magicspell-guess-form" action="/submit_guess" method="post">
                    <center><input class="magicspell-guess-input" type="text" id="guess" name="guess" autofocus>
                        </center><button class="magicspell-guess-button" type="submit">🪄</button>
                        
                    </form>
                    <div class="magicspell-outer-grid">
                        <div class="magicspell-grid">
                            <svg class="magicspell-grid-cell center" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5" />></polygon><text class="cell-letter" x="50%" y="50%"
                                    dy="0.35em">{{ session['word_letter_middle'] }}</text>
                            </svg>
                            <svg class="magicspell-grid-cell outer" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5"></polygon>
                                    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{ session['word_letter_1'] }}</text>
                            </svg>
                            <svg class="magicspell-grid-cell outer" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                    dy="0.35em">{{ session['word_letter_2'] }}</text>
                            </svg>
                            <svg class="magicspell-grid-cell outer" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                    dy="0.35em">{{ session['word_letter_3'] }}</text>
                            </svg>
                            <svg class="magicspell-grid-cell outer" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                    dy="0.35em">{{ session['word_letter_4'] }}</text>
                            </svg>
                            <svg class="magicspell-grid-cell outer" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                    dy="0.35em">{{ session['word_letter_5'] }}</text>
                            </svg>
                            <svg class="magicspell-grid-cell outer" viewBox="0 0 120 103.92304845413263">
                                <polygon class="cell-fill"
                                    points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                    stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                    dy="0.35em">{{ session['word_letter_6'] }}</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

            <p>Fin, Zane & Stephen ©
                <script>document.write(/\d{4}/.exec(Date())[0])</script>
            </p>
        </div>
    </body>

</html>