<!DOCTYPE html>
<html lang="en">

<body bgcolor=”#9925be">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch.png') }}" />
        <title>Magic Spell</title>
    </head>

    <body>



        <div class="main">
            <center>
                <h1>
                    <strong><u>Magic🪄Spell<u></strong>
                </h1>
                <h3>Spelling Program to improve Kids Spelling
                </h3>
                <div class="grid">
                        <svg class="grid-cell center" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">y</text>
                        </svg>
                        <svg class="grid-cell outer" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">n</text>
                        </svg>
                        <svg class="grid-cell outer" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">r</text>
                        </svg>
                        <svg class="grid-cell outer" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">a</text>
                        </svg><svg class="grid-cell outer" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">t</text>
                        </svg>
                        <svg class="grid-cell outer" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">i</text>
                        </svg>
                        <svg class="grid-cell outer" viewBox="0 0 120 103.92304845413263">
                            <polygon class="cell-fill"
                                points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263"
                                stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%"
                                dy="0.35em">c</text>
                        </svg>
                </div>
            </center>


        </div>
        <div class="footer">

            <p>Fin, Zane & Stephen ©
                <script>document.write(/\d{4}/.exec(Date())[0])</script>
            </p>
        </div>
    </body>

</html>